*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}
:root{
    --red:#c1272d;
    --black:#151619;
    --white:hsla(0, 0%, 100%, 0.5);
    --dark-red:#8f242a;
    --border:1px solid #fff;
}

body{
    background-color: var(--black);
}

::-webkit-scrollbar{
    width: 8px;
    background-color:var(--black);
}
::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 10px;
}
nav{
    width: 100%;
    height: 60px;
    background-color: rgba(159, 168, 185, 0.1);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav a.logo{
    padding: 1.2rem;
    text-decoration: none;
    text-transform:uppercase ;
    color: var(--white);
    font-weight: 700;
    font-size: 1.4rem;
}
nav ul{
    padding: 1.2rem;
}
nav ul li{
    display: inline-block;
    padding: 0 10px ;
}
nav ul li a{
    text-decoration: none;
    text-transform:uppercase ;
    color: var(--white);
    font-weight: 700;
}

a.active{
    display: block;
    background-color: var(--red);
    color: var(--white);
    width: 90px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border-bottom: 3px solid var(--dark-red);
}



.bottom-navbar{
  display: none;
}

.responsive-menu{
    display: none;
}
.responsive-menu ul{
    display: none;
}

/* ------CONTAINER IS HERE------ */



.container{
    width: 100%;
    height: 100vh;
    background-image: url(images/bg-img1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container h1,h3{
    color: var(--white);
}
.about-btn{
    width: 200px;
    line-height:40px;
    text-align: center;
    border-radius: 10px;
    background-color: var(--red);
    border-bottom: 3px solid var(--dark-red);
    text-decoration: none;
    color: var(--white);
}

.about-btn:hover{
    background-color: var(--dark-red);
    transition: 0.3s;
}






/* ------ABOUT-CONTAINER IS HERE------ */


.about-container{
    width: 100%;
    height: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #39414f;
    display: flex;
    align-content: center;
    justify-content: center;
}

.content-about{
    width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}





.programs{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--black);
}
.programs .img1{
    width: 600px;
    height: 600px;
    background-image: url(images/fit-img1.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}

.programs .img2{
    width: 600px;
    height: 600px;
    background-image: url(images/fit-img2.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}


.programs .img3{
    width: 600px;
    height: 600px;
    background-image: url(images/fit-img3.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}
.programs .img4{
    width: 600px;
    height: 600px;
    background-image: url(images/fit-img4.jpg);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}




.img1 a{
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}
.img1 a:hover{
    transform: scale(120%);
}


.img2 a{
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}
.img2 a:hover{
    transform: scale(120%);
}




.img3 a{
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}
.img3 a:hover{
    transform: scale(120%);
}


.img4 a{
    text-decoration: none;
    font-size: 40px;
    color: #fff;
}
.img4 a:hover{
    transform: scale(120%);
}







.testimonials1{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.quote1{
    width: 310px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}
.quote1 i{
    color: #000;
    font-size: 28px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
}

.quote1 h2{
    color: #fff;
    text-align: center;
}







.quote2{
    width: 310px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}

.quote2 h2{
    color: #fff;
    text-align: center;
}









.quote2 i{
    color: #000;
    font-size: 28px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
}


.quote3{
    width: 310px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column ;
}


.quote3 i{
    color: #000;
    font-size: 28px;
    width: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
}


.quote3 h2{
    color: #fff;
    text-align: center;
}


/* -----------------------------ABOUT IS HERE----------------------------- */



.about{
    width: 100%;
    height: 100vh;
    background-image: url(images/about-fit1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about h1{
    font-size: 60px;
    color: #fff;
    background: var(--dark-red);
}



.about-us{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.about-us h1{
    color: #fff;
}
.about-us h3{
    text-align: center;
    color: #fff;
}



/* -------------------------GALLERY IS HERE----------------------------- */


.gallery-container{
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    max-width: 1100px;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
  }
  .gallery .image{
    padding: 7px;
    width: calc(100% / 3);
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    width: 100%;
    height: 400px;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    /* max-width: 700px; */
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
    width: 50%;
    height: 100%;
  }
  .preview-box .details{
    display: flex;
    align-items: center;
    padding: 12px 15px 12px 10px;
    justify-content: space-between;
  }
  .preview-box .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    margin: 0 5px;
  }
  .details .title p.current-img{
    font-weight: 500;
  }
  .details .icon{
    color: #000;
    font-size: 20px;
    cursor: pointer;
  }
  .preview-box .image-box{
    display: flex;
    width: 100%;
    position: relative;
  }
  .image-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    height: 50px;
    width: 60px;
    line-height: 50px;
    text-align: center;
    border-radius: 3px;
  }
  .slide.prev{
    left: 0px;
  }
  .slide.next{
    right: 0px;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.45);
  }






  /* -----------------REVIEWS IS HERE--------------- */


  .reviews{
    width:100%;
    height: 86vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonials{
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.testimonial1{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    
}

.profile1{
    width: 45%;
    height: 100%;
    background-color: #fff;

    border: 1px solid beige;
    box-shadow: 2px 2px 4px 4px rgb(247, 247, 217);
}


.profile1-img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    display: flex;
    align-items: center;
}
.profile1-img .name img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding:0.5rem;
}

.profile1-img .stars{
    display: flex;
    color: var(--red);
    padding: 0.5rem;
}



.profile1-text{
    width: 100%;
    height: 50%;
    text-align: center;
}


.profile2{
    width: 45%;
    height: 100%;
    background-color: #fff;
    border: 1px solid beige;
    box-shadow: 2px 2px 4px 4px rgb(247, 247, 217);
}


.profile2-img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    display: flex;
    align-items: center;
}
.profile2-img .name img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding:0.5rem;
}

.profile2-img .stars{
    display: flex;
    color: var(--red);
    padding: 0.5rem;
}



.profile2-text{
    width: 100%;
    height: 50%;
    text-align: center;
}



.testimonial2{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-between;
}

.profile3{
    width: 45%;
    height: 100%;
    background: #fff;
    border: 1px solid beige;
    box-shadow: 2px 2px 4px 4px rgb(247, 247, 217);
}



.profile3-img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    display: flex;
    align-items: center;
}
.profile3-img .name img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding:0.5rem;
}

.profile3-img .stars{
    display: flex;
    color: var(--red);
    padding: 0.5rem;
}



.profile3-text{
    width: 100%;
    height: 50%;
    text-align: center;
}


.profile4{
    width: 45%;
    height: 100%;
    background: #fff;
    border: 1px solid beige;
    box-shadow: 2px 2px 4px 4px rgb(247, 247, 217);
}

.profile4-img{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    display: flex;
    align-items: center;
}
.profile4-img .name img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding:0.5rem;
}

.profile4-img .stars{
    display: flex;
    color: var(--red);
    padding: 0.5rem;
}



.profile4-text{
    width: 100%;
    height: 50%;
    text-align: center;
}



/* ------END IS HERE------ */


.end-container{
    display: grid;
    grid-template-areas: 'contact contact form form form form'
    'contact contact form form form form'
    'social-media social-media form form form form'
    ;
    grid-gap: 10px;
    background-color: var(--black);
    padding: 10px ;
    color: #fff;
}
.end-container>div{
    padding: 10px;
}



.cont{
    grid-area: contact;
    font-weight: 700;
    font-size: 24px;
}
.cont i{
    color: var(--red);
}

.social-media{
    grid-area: social-media;
    width: 220px;
    text-align: center;
}

.social-media a{
    color: var(--red);
    text-decoration: none;
    font-size: 30px;
    padding: 0 12px;
}
.social-media a:hover{
    transform: scale(120%);
}

.form{
    grid-area: form;
    text-align: center;
}
.form form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form form input{
    padding:12px 25px ;
    height: 55px;
    font-family:'Work Sans', sans-serif;
    color: #fff;
    font-size: 21px;
    line-height: 31px;
    background-color: rgba(159, 168, 185, 0.1);
    outline: none;
    border: none;
    width: 100%;
}

.form form textarea{
    padding: 12px 25px;
    border: 0px solid #000;
    background-color: rgba(159, 168, 185, 0.1);
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-size: 21px;
    width: 100%;
    outline: none;
    height: 100px;
}

.form form button{
    padding: 12px 25px;
    border-bottom: 3px solid #8f242a;
    border-radius: 10px;
    background-color: #c1272d;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}





















/* ====================RESPONSIVE END IS HERE=============== */


@media (max-width:768px){
    *{
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .bottom-navbar{
        display: block;
        width: 100%;
        height: 60px;
        background-color: rgba(159, 168, 185, 0.1);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }
    .bottom-navbar a.logo{
        font-size: 20px;
        color: var(--white);
        text-decoration: none;
        font-weight: 700;
        padding: 0.8rem;
        text-transform: uppercase;
    }
    .bottom-navbar .icons-bottom-navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        padding: 0.8rem;
    }
    .icons-bottom-navbar i{
        cursor: pointer;
        font-size: 20px;
        color: var(--white);
    }
    .icons-bottom-navbar i.fa-times{
        display: none;
    }

    .responsive-menu{
        width: 100%;
        height: 150px;
        position: fixed;
    }
    .responsive-menu ul{
        display: flex;
        align-items:flex-end;
        justify-content: center;
        height: 100%;
    }
    .responsive-menu ul li{
        padding: 0 10px;
        text-shadow: 2px 2px 2px 2px black;
    }
    .responsive-menu ul li a{
        text-decoration: none;
        font-size: 16px;
        color: var(--white);

    }

a.active{
    display: block;
    background-color: var(--red);
    color: var(--white);
    width: 80px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border-bottom: 3px solid var(--dark-red);
}



.container h3{
    font-size: 16px;
    background-color: var(--dark-red);
}
.container h1{
    font-size: 20px;
    background-color: var(--dark-red);
}





.programs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.programs h3{
    font-size: 16px;
}
.programs h1{
    font-size: 18px;
}
.testimonials1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 900px;
}

.testimonial1 .quote1{
    width:100%;
    height: 350px;
}
.testimonial1 .quote2{
    width:100%;
    height: 350px;
    overflow-y: hidden;
}
.testimonial1 .quote3{
    width:100%;
    height: 350px;
}



.end-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.cont{
    font-size: 18px;
}


.pro-container{
    z-index: -1;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;

}
.gallery .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .image img{
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.preview-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-box{
    width: 100%;
    height: 300px;
}

.preview-box .details{
    line-height: 50px;
    width: 100%;
    overflow-y: hidden;
}


.preview-box.show{
    height: 50%;
    width: 60%;
}


.testimonials{
    gap: 2px;
     overflow-y:hidden;
}

.testimonial1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    gap: 10px;
}


.testimonial1 .profile1,.profile2{
    width: 100%;
}








.testimonial2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    gap: 10px;
}

.testimonial2 .profile3,.profile4{
    width: 100%;
}

}















/* --RESPONSIVE FOR SMALL SIZE SCREEN-- */



@media (max-width:408px){
    *{
        overflow-x: hidden;
    }
    nav{
        display: none;
    }
    .bottom-navbar{
        display: block;
        width: 100%;
        height: 60px;
        background-color: rgba(159, 168, 185, 0.1);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1;
    }
    .bottom-navbar a.logo{
        font-size: 20px;
        color: var(--white);
        text-decoration: none;
        font-weight: 700;
        padding: 0.8rem;
        text-transform: uppercase;
    }
    .bottom-navbar .icons-bottom-navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        padding: 0.8rem;
    }
    .icons-bottom-navbar i{
        cursor: pointer;
        font-size: 20px;
        color: var(--white);
    }
    .icons-bottom-navbar i.fa-times{
        display: none;
    }

    .responsive-menu{
        width: 100%;
        height: 150px;
        position: fixed;
    }
    .responsive-menu ul{
        display: flex;
        align-items:flex-end;
        justify-content: center;
        height: 100%;
    }
    .responsive-menu ul li{
        padding: 0 10px;
        text-shadow: 2px 2px 2px 2px black;
    }
    .responsive-menu ul li a{
        text-decoration: none;
        font-size: 16px;
        color: var(--white);

    }

a.active{
    display: block;
    background-color: var(--red);
    color: var(--white);
    width: 80px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border-bottom: 3px solid var(--dark-red);
}



.container h3{
    font-size: 16px;
    background-color: var(--dark-red);
}
.container h1{
    font-size: 20px;
    background-color: var(--dark-red);
}





.programs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.programs h3{
    font-size: 16px;
}
.programs h1{
    font-size: 18px;
}
.testimonials1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 900px;
}

.testimonial1 .quote1{
    width:100%;
    height: 350px;
}
.testimonial1 .quote2{
    width:100%;
    height: 350px;
    overflow-y: hidden;
}
.testimonial1 .quote3{
    width:100%;
    height: 350px;
}



.end-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.cont{
    font-size: 18px;
}


.pro-container{
    z-index: -1;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;

}
.gallery .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery .image img{
    width: 300px;
    height: 200px;
    cursor: pointer;
}

.preview-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-box{
    width: 100%;
    height: 300px;
}

.preview-box .details{
    line-height: 50px;
    width: 100%;
    overflow-y: hidden;
}


.preview-box.show{
    height: 50%;
    width: 60%;
}


.testimonials{
    gap: 2px;
    overflow-y:hidden;
}

.testimonial1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    gap: 10px;
}


.testimonial1 .profile1,.profile2{
    width: 100%;
}








.testimonial2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    gap: 10px;
}

.testimonial2 .profile3,.profile4{
    width: 100%;
}

    #sticky{
position:static;
    }
}
